.hero {
  padding: 80px 20px;
  text-align: center;
  background: radial-gradient(circle, #1b2a4a, #101622);
}

.badge {
  display: inline-block;
  background: rgba(13, 64, 165, 0.2);
  color: #4da3ff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero h1 span {
  color: #4da3ff;
}

.hero p {
  max-width: 600px;
  margin: auto;
  color: #b0b8c9;
  font-size: 18px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.hero-buttons .btn-primary {
  background: #0d40a5;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.hero-buttons .btn-secondary {
  background: transparent;
  color: white;
  border: 1px solid #1f293a;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* FEATURES */
.features {
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.feature-card {
  background: #161e2d;
  border: 1px solid #1f293a;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
}

.feature-card h3 {
  margin-bottom: 10px;
}

.feature-card p {
  color: #a5adc4;
}

/* CTA */
.cta {
  background: linear-gradient(135deg, #1e3a8a, #312e81);
  padding: 60px 20px;
  text-align: center;
  border-radius: 20px;
  margin: 40px 20px;
}

.cta h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.cta p {
  color: #d0d7f0;
  margin-bottom: 20px;
}

.cta-btn {
  background: white;
  color: #061431;
  padding: 14px 30px;
  border-radius: 30px;
  font-weight: bold;
}
.cta-box {
  padding: 40px 20px;
  background: linear-gradient(135deg, #00071a, #5f5afa);
  border-radius: 20px;
  margin-top: 40px;
  text-align: center;
  color: rgb(243, 235, 235);
}

.homepage {
  min-height: 100vh;
  padding: 40px;
  background: #101622;
}

.title {
  font-size: 32px;
  font-weight: bold;
}
.btn-light{
  padding:10px;
  border-radius: 30px;
}
.post {
  color: white;
  background: #161e2d;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #1f293a;
}
