/* LEFT SIDEBAR */
.sidebar {
  background: #161e2d;
  border: 1px solid #1f293a;
  border-radius: 16px;
  padding: 20px;
  color: white;
  height: fit-content;
}

.sidebar h3 {
  margin-bottom: 4px;
}

.sidebar p {
  color: #9aa3b2;
  font-size: 14px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #c7cfdd;
}

.sidebar li:hover {
  background: #1f293a;
  color: white;
}

/* RIGHT SIDEBAR */
.rightbar {
  background: #161e2d;
  border: 1px solid #1f293a;
  border-radius: 16px;
  padding: 20px;
  color: white;
  height: fit-content;
}

.rightbar h4 {
  margin-bottom: 12px;
}

.rightbar p {
  background: #1f293a;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
